{% extends "base.html" %}
{% block title %}Add a credit card{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            <h1 class="display-4">Adding new card</h1> <!--wrong text changed-->
            <form method="POST" action="">
                {% if exist %}
                    <p class="text-danger">Minor thing</p>
                {% endif %}
                <div class="form-group">
                    {{ render_field(form.cctype) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.ccnumber, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.ccscode, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.expirationdate, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.billinginformationname, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.city, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.billingaddress, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.postalcode, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.country, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.phonenumber, class="form-control") }}
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</section>

{% endblock %}
